.password-form {
  max-width: 300px;
  margin: 50px auto;
}
.password-form label {
  display: block;
  margin-bottom: 5px;
}
.password-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.password-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.password-form button:hover {
  background-color: #45a049;
}

.card {
  border-radius: 6px;
  width: 500px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  border: 3px solid black;
  margin: 25px 0;
}

.card:nth-child(1n) {
  border-color: red;
}

.card:nth-child(2n) {
  border-color: orange;
}

.card:nth-child(3n) {
  border-color: yellow;
}

.card:nth-child(4n) {
  border-color: green;
}

.card:nth-child(5n) {
  border-color: blue;
}
